<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com Have fun !{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar">
        <div class="container">
            <a href="{{ path('main_home') }}" class="navbar-brand"><img src="{{ asset('Sortie.com Have fun !.png') }}" alt="Logo"></a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{{ path('main_home') }}" class="nav-link">Accueil</a></li>
                <li class="nav-item"><a href="{{ path('presentation') }}" class="nav-link">Présentation</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    <div>&copy; {{ "now"|date("Y") }} Sortir.com</div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>