<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>

        {% if app.user %}

            <li><a href="{{ path('app_profil') }}" title="Mon profil">Mon profil</a> </li>
            <li><a href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a> </li>
        {% if is_granted("ROLE_ADMIN") %}
            <li><a href="{{ path('/main_villes') }}" title="Villes">Villes</a></li>
            <li><a href="{{ path('/main_sites') }}" title="Sites">Sites</a></li>

        {% endif %}

        {% else %}
        <li><a href="{{ path('app_login') }}" title="Login">Login</a></li>
        <li><a href="{{ path('app_register') }}" title="Create account">Register</a></li>
        {% endif %}
    </ul>
</nav>